name: Deploy Workflow

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy

    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v1

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Decode google-services.json
          env:
            FIREBASE_CONFIG: ${{ secrets.FIREBASE_CONFIG }}
          run: echo $FIREBASE_CONFIG > app/google-services.json

      - name: Decode service account key
          env:
            SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Decode keystore
        run: |
        echo "${{ secrets.ANDROID_KEYSTORE }}" > release.keystore.asc
        gpg -d --passphrase "${{ secrets.ANDROID_KEYSTORE_PASSPHRASE }}" --batch release.keystore.asc > release.keystore

      -name: Assemble APK
        env:
          ANDROID_KEYSTORE_ALIAS: ${{ ANDROID_KEYSTORE_ALIAS }}
          ANDROID_KEYSTORE_PASSPHRASE: ${{ ANDROID_KEYSTORE_PASSPHRASE }}
        run:
          ./gradlew assembleRelease

      - name: Upload APK
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: ${{ SERVICE_ACCOUNT }}
          packageName: com.costular.leuksna_moon_phases
          releaseFile: app/build/outputs/apk/release/app-release.apk
          track: beta
          userFraction: 1.0
          whatsNewDirectory: /distribution/whatsnew
          mappingFile: /app/build/outputs/mapping/release/mapping.txt
